FleetHackers/FleetHackers/FleetHackers/Service References/FleetHackersServer/Service11.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/FleetHackers.Cards.AlternateCosts" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/FleetHackers.Cards.AlternateCosts" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfAlternateCost">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="AlternateCost" nillable="true" type="tns:AlternateCost" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAlternateCost" nillable="true" type="tns:ArrayOfAlternateCost" />
  <xs:complexType name="AlternateCost">
    <xs:sequence />
  </xs:complexType>
  <xs:element name="AlternateCost" nillable="true" type="tns:AlternateCost" />
  <xs:complexType name="PutCountersCost">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:AlternateCost">
        <xs:sequence>
          <xs:element minOccurs="0" name="numCounters" type="xs:int" />
          <xs:element minOccurs="0" name="target" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="PutCountersCost" nillable="true" type="tns:PutCountersCost" />
  <xs:complexType name="DiscardCost">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:AlternateCost">
        <xs:sequence>
          <xs:element minOccurs="0" name="numCards" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="DiscardCost" nillable="true" type="tns:DiscardCost" />
  <xs:complexType name="ExhaustShipCost">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:AlternateCost">
        <xs:sequence>
          <xs:element minOccurs="0" name="numTargets" type="xs:int" />
          <xs:element minOccurs="0" name="numTargetsType" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="numTargetsVar" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="target" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ExhaustShipCost" nillable="true" type="tns:ExhaustShipCost" />
  <xs:complexType name="RemoveCountersCost">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:AlternateCost">
        <xs:sequence>
          <xs:element minOccurs="0" name="numCounters" type="xs:int" />
          <xs:element minOccurs="0" name="target" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="RemoveCountersCost" nillable="true" type="tns:RemoveCountersCost" />
</xs:schema>