FleetHackers/CardEditor/Service References/FleetHackersCardsService/Service18.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/FleetHackers.Cards.Effects.Conditions" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/FleetHackers.Cards.Effects.Conditions" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="EffectCondition">
    <xs:sequence>
      <xs:element minOccurs="0" name="activePlayerAttribute" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="attribute" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="comparison" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="value" type="xs:int" />
      <xs:element minOccurs="0" name="valueType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="valueVar" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="EffectCondition" nillable="true" type="tns:EffectCondition" />
</xs:schema>